# --- Executor ---
executor: CeleryExecutor

# --- Obrazy ---
images:
  airflow:
    repository: apache/airflow
    tag: "3.0.2"
    pullPolicy: IfNotPresent

  gitSync:
    repository: registry.k8s.io/git-sync/git-sync
    tag: v4.3.0
    pullPolicy: IfNotPresent

# --- Redis ---
redis:
  enabled: true

# --- PostgreSQL ---
postgresql:
  enabled: true
  image:
    repository: postgres
    tag: "16.3"

# --- Workers ---
workers:
  replicas: 1
  resources:
    requests:
      cpu: "500m"
      memory: "2Gi"
    limits:
      cpu: "1500m"
      memory: "4Gi"
      
  extraVolumes:
    - name: azure-storage-secret
      secret:
        secretName: azure-storage-secret

  extraVolumeMounts:
    - name: azure-storage-secret
      mountPath: /etc/secrets/azure
      readOnly: true
      

  # env:
    # - name: AZURE_STORAGE_ACCOUNT
      # valueFrom:
        # secretKeyRef:
          # name: azure-storage-secret
          # key: AZURE_STORAGE_ACCOUNT

    # - name: AZURE_STORAGE_KEY
      # valueFrom:
        # secretKeyRef:
          # name: azure-storage-secret
          # key: AZURE_STORAGE_KEY

# --- Log groomer sidecar  ---
logGroomerSidecar:
  resources:
    requests:
      cpu: "50m"
      memory: "64Mi"

# --- GitSync sidecar  ---
gitSync:
  resources:
    requests:
      cpu: "50m"
      memory: "64Mi"

# --- KEDA ---
keda:
  enabled: true

# --- Metrics / StatsD ---
metrics:
  enabled: true

config:
  metrics:
    statsd_on: "True"
    statsd_host: airflow-statsd
    statsd_port: 9125
    statsd_prefix: airflow

# --- DAGs (GitSync) ---
dags:
  gitSync:
    enabled: true
    repo: https://github.com/Vigtus/ScalableETL.git
    branch: main
    subPath: terraform/dags
    depth: 1
    wait: 60


envFromSecrets:
  - azure-storage-secret

extraPipPackages:
  - pandas
  - azure-storage-blob
