executor: CeleryExecutor

redis:
  enabled: true

postgresql:
  enabled: true
  image:
    repository: postgres
    tag: "16.3"

workers:
  resources:
    requests:
      cpu: "500m"
      memory: "2Gi"
    limits:
      cpu: "1500m"
      memory: "4Gi"


keda:
  enabled: true

metrics:
  enabled: true

config:
  metrics:
    statsd_on: "True"
    statsd_host: airflow-statsd
    statsd_port: 9125
    statsd_prefix: airflow

dags:
  gitSync:
    enabled: true
    repo: https://github.com/Vigtus/ScalableETL.git
    branch: main
    subPath: terraform/dags
    depth: 1
    wait: 60
